<style>
  .nav-bar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 72px;
}
.left,.center,.right,#nav-but,.profile{
    background-color: rgb(54, 46, 65);
    color:white;
}
.left,.logo{
    vertical-align: middle;
    align-items: center;
    justify-content: left;
    display:inline-flex;
    font-family:"Caveat", serif;
}
.center{
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    display:inline-flex;
}
.right{
    vertical-align: middle;
    align-items: center;
    justify-content: right;
    display:inline-flex;
}
.search{
    background-color:  rgb(84, 72, 100);
    border:none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:15px;
    padding-right: 15px;
    font-size: 15px;
    width:50%;
    display: block;
    color: white;
    margin-right: 15px;
    border-radius:30px ;
}
.material-icons{
    justify-content: center;
    align-items:center;
    font-size: 30px;
    display: block;
}
#nav-but{
    margin-left: 10px;
    margin-right: 10px;
    border:none;
    border-radius: 25px;
    opacity: .7;
    transition: opacity 0.5;
}
#nav-but:hover{
    opacity: 1;
}
.profile:active,#nav-but:active,.logo:active{
    opacity: .8;
}
.profile{
    border:none;
    vertical-align: middle;
    border-radius: 50px;
    transition: opaticy .5;
}
.profile_img{
    object-fit: cover;
    object-position: center;
    width:72px;
    border:none;
    border-radius: 50px;
}
.brand_icon{
    width: 50px;
    padding-left: 15px;
}
.brand_name{
    font-family:"Potta One", serif;
    font-size: 30px;
    padding-left: 8px;   
}
.main{
    display: flex;
    justify-content: center;
}
.call{
    padding-top: 40px;
    border-radius: 10px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top:10px;
    padding-bottom:10px;
    width:700px;
    background-color:  rgb(42, 36, 49);
}
.com-logo{
    margin-left: 10px;
    width: 75px;
    border: none;
    display: inline-block;
    border-radius: 30px;
}
.CDetails{
    padding-top:5px;
    display: inline-block;
    vertical-align: top;
}
.company{
    display: block;
    padding-left:10px;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
}
.address{
    display: block;
    padding-left: 10px;
    padding-top:3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:rgb(168, 148, 181);
}
.job-call,.job-buts{
    padding-top:20px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
ul{
    padding-left: 0px;
}
li{
    padding-left:20px;
    list-style-type: none;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
}
.value{
    color:rgb(185, 145, 235);
    padding-left:10px;
    font-weight: lighter;
}
.description-title{
    padding-left: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}
.description{
    padding-left: 20px;
    padding-right: 20px;
}
#job-but{
    border:none;
    padding-left:15px;
    margin-right:10px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    background-color: rgb(41, 41, 230);
    color: white;
    font-size:15px;
    font-weight: lighter;
    border-radius: 20px;
    opacity:.9;
    vertical-align: middle;
    font-size: 15px;
}
#job-but:hover{
    opacity:1;
}
#job-but:active{
    opacity: .8;
}
.material-symbols-outlined{
    vertical-align: middle;
    font-size: 18px;
}
</style>
<!--navigation bar-->
<div class="nav-bar">
  <!--left-->
  <div class="left">
    <span class="logo">
    <img src="proposal.png" class="brand_icon">
    <span class="brand_name">Proposal</span>
    </span>
  </div>

  <!--center-->
  <div class="center">
        <button class="ai" id="nav-but" >
          <span class="material-icons" id="p1">psychology</span>
          <span>AI</span>
        </button>
        <button class="proposals" id="nav-but" >
          <span class="material-icons" id="p2">commit</span>
          <span>Proposals</span>
        </button>
        <button class="profile">
          <img src="dinesh_sir.png" class="profile_img">
        </button>
        <button class="colleagues" id="nav-but">
          <span class="material-icons" id="p2">groups</span>
          <span>Colleagues</span>
        </button>
        <button class="notification" id="nav-but">
          <span class="material-icons" id="p1">notifications</span>
          <span>Notifications</span>
        </button>
  </div>

  <!--right-->
  <div class="right">
    <input type="search" placeholder="search" class="search">
  </div>
</div>
<span style="display: block;width:100%;height: 2%;"></span>
<!--content section-->
<div class="main">
  <div class="body">
    <div class="call">
      <div class="status-bar" style="justify-content: center;align-items: center;">
        <img src="idream.png" alt="iDeamCareer" class="com-logo">
        <div class="CDetails">
          <span class="company">iDreamCareer.com</span>
          <span class="address">New Delhi, Delhi, India.</span>  
        </div>
      </div>
      <div>
        <div class='job-call'>Graphic Designer</div>
        <ul>
        <li class="experience">Experience :<span class="value">2 - 3 years</span></li>
        <li class='workmode'>workmode :<span class="value">on-side[full time]</span></li>
        <li class='skills'>skill :<span class="value">figma,canva,video</span></li>
        <li class='proposal-time'>proposal end date :<span class="value">4/11/24</span></li>
        <li class='proposal-review'>proposal review end data :<span class="value">5/11/24</span></li>
        </ul>
        <div class="description-title">Description:</div>
        <div class='description'><span style="padding-left: 20px;"></span>We are looking for a Creative Designer with a passion 
        for visual storytespanng and a keen eye for design. 
        The ideal candidate will have experience in video 
        editing, creative design,
        and the creation of various print materials.
        </div>
        <div class="job-buts">
          <button class="details" id="job-but">Details</button>
          <button class="share" id="job-but">share</button>
          <button class="save" id="job-but">save</button>

        </div>
    </div>
  </div>

    <div class="call">
        <div class="status-bar" style="justify-content: center;align-items: center;">
          <img src="p.png" alt="iDeamCareer" class="com-logo">
          <div class="CDetails">
            <span class="company">
              Pidilite Industries Limited </span>
            <span class="address">Jaipur, Rajasthan, India.</span>  
          </div>
        </div>
        <div>
          <div class='job-call'>Technical Service Engineer</div>
          <ul>
          <li class="experience">Experience :<span class="value">3 years</span></li>
          <li class='workmode'>workmode :<span class="value">[full time]</span></li>
          <li class='skills'>skill :<span class="value">project sales,paint,Key Account Sales Executive</span></li>
          <li class='location'>location :<span class="value">jaipur</span></li>
          <li class='age'>age :<span class="value">25-36</span></li>
          <li class='proposal-time'>proposal end date :<span class="value">4/11/24</span></li>
          <li class='proposal-review'>proposal review end data :<span class="value">5/11/24</span></li>
          </ul>
          <div class="description-title">Description:</div>
          <div class='description'><span style="padding-left: 20px;"></span>A person who has worked in cement / paint industry with 4-5 years min work ex and has worked with builders to activate them is criteria 1

            Candidates who have worked with key accounts (small size)
            
            Candidates who have an exposure to retail management are preferred than pure project profile as mentioned in point 2
          </div>
          <div class="job-buts">
            <button class="details" id="job-but">Details</button>
            <button class="share" id="job-but">share</button>
            <button class="save" id="job-but">save</button>

          </div>
      </div>
    </div>
    <div class="call">
      <div class="status-bar" style="justify-content: center;align-items: center;">
        <img src="wipro.png" alt="iDeamCareer" class="com-logo">
        <div class="CDetails">
          <span class="company">
            Wipro </span>
          <span class="address">Bengaluru, Karnataka, India</span>  
        </div>
      </div>
      <div>
        <div class='job-call'>Developer</div>
        <ul>
        <li class="experience">Experience :<span class="value">3 years</span></li>
        <li class='workmode'>workmode :<span class="value">[full time]</span></li>
        <li class='skills'>skill :<span class="value">Software Development, software Requirements</span></li>
        <li class='location'>location :<span class="value">Bengaluru</span></li>
        <li class='age'>age :<span class="value">no restriction</span></li>
        <li class='proposal-time'>proposal end date :<span class="value">No End</span></li>
        <li class='proposal-review'>proposal review end data :<span class="value">Any time</span></li>
        </ul>
        <div class="description-title">Description:</div>
        <div class='description'><span style="padding-left: 20px;"></span>
          The purpose of this role is to design, test and maintain software programs for
           operating systems or applications which needs to be deployed at a client end 
           and ensure its meet 100% quality assurance parameters
        </div>
        <div class="job-buts">
          <button class="details" id="job-but">Details</button>
          <button class="share" id="job-but">share</button>
          <button class="save" id="job-but">save</button>

        </div>
    </div>
  </div>
      
  </div>
</div>
