<!--navigation bar-->
<div class="nav-bar">
  <!--left-->
  <div class="left">
    <span class="logo">
    <img src="proposal.png" class="brand_icon">
    <span class="brand_name">Proposal</span>
    </span>
  </div>

  <!--center-->
  <div class="center">
        <button class="ai" id="nav-but" >
          <span class="material-icons" id="p1">psychology</span>
          <span>AI</span>
        </button>
        <button class="proposals" id="nav-but" >
          <span class="material-icons" id="p2">commit</span>
          <span>Proposals</span>
        </button>
        <button class="profile">
          <img src="dinesh_sir.png" class="profile_img">
        </button>
        <button class="colleagues" id="nav-but">
          <span class="material-icons" id="p2">groups</span>
          <span>Colleagues</span>
        </button>
        <button class="notification" id="nav-but">
          <span class="material-icons" id="p1">notifications</span>
          <span>Notifications</span>
        </button>
  </div>

  <!--right-->
  <div class="right">
    <input type="search" placeholder="search" class="search">
  </div>
</div>
<span style="display: block;width:100%;height: 2%;"></span>
<!--content section-->
<div class="main">
  <div class="body">
    <div class="call">
      <div class="status-bar" style="justify-content: center;align-items: center;">
        <img src="idream.png" alt="iDeamCareer" class="com-logo">
        <div class="CDetails">
          <span class="company">iDreamCareer.com</span>
          <span class="address">New Delhi, Delhi, India.</span>  
        </div>
      </div>
      <div>
        <div class='job-call'>Graphic Designer</div>
        <ul>
        <li class="experience">Experience :<span class="value">2 - 3 years</span></li>
        <li class='workmode'>workmode :<span class="value">on-side[full time]</span></li>
        <li class='skills'>skill :<span class="value">figma,canva,video</span></li>
        <li class='proposal-time'>proposal end date :<span class="value">4/11/24</span></li>
        <li class='proposal-review'>proposal review end data :<span class="value">5/11/24</span></li>
        </ul>
        <div class="description-title">Description:</div>
        <div class='description'><span style="padding-left: 20px;"></span>We are looking for a Creative Designer with a passion 
        for visual storytespanng and a keen eye for design. 
        The ideal candidate will have experience in video 
        editing, creative design,
        and the creation of various print materials.
        </div>
        <div class="job-buts">
          <button class="details" id="job-but">Details</button>
          <button class="share" id="job-but">share</button>
          <button class="save" id="job-but">save</button>

        </div>
    </div>
  </div>

    <div class="call">
        <div class="status-bar" style="justify-content: center;align-items: center;">
          <img src="p.png" alt="iDeamCareer" class="com-logo">
          <div class="CDetails">
            <span class="company">
              Pidilite Industries Limited </span>
            <span class="address">Jaipur, Rajasthan, India.</span>  
          </div>
        </div>
        <div>
          <div class='job-call'>Technical Service Engineer</div>
          <ul>
          <li class="experience">Experience :<span class="value">3 years</span></li>
          <li class='workmode'>workmode :<span class="value">[full time]</span></li>
          <li class='skills'>skill :<span class="value">project sales,paint,Key Account Sales Executive</span></li>
          <li class='location'>location :<span class="value">jaipur</span></li>
          <li class='age'>age :<span class="value">25-36</span></li>
          <li class='proposal-time'>proposal end date :<span class="value">4/11/24</span></li>
          <li class='proposal-review'>proposal review end data :<span class="value">5/11/24</span></li>
          </ul>
          <div class="description-title">Description:</div>
          <div class='description'><span style="padding-left: 20px;"></span>A person who has worked in cement / paint industry with 4-5 years min work ex and has worked with builders to activate them is criteria 1

            Candidates who have worked with key accounts (small size)
            
            Candidates who have an exposure to retail management are preferred than pure project profile as mentioned in point 2
          </div>
          <div class="job-buts">
            <button class="details" id="job-but">Details</button>
            <button class="share" id="job-but">share</button>
            <button class="save" id="job-but">save</button>

          </div>
      </div>
    </div>
    <div class="call">
      <div class="status-bar" style="justify-content: center;align-items: center;">
        <img src="wipro.png" alt="iDeamCareer" class="com-logo">
        <div class="CDetails">
          <span class="company">
            Wipro </span>
          <span class="address">Bengaluru, Karnataka, India</span>  
        </div>
      </div>
      <div>
        <div class='job-call'>Developer</div>
        <ul>
        <li class="experience">Experience :<span class="value">3 years</span></li>
        <li class='workmode'>workmode :<span class="value">[full time]</span></li>
        <li class='skills'>skill :<span class="value">Software Development, software Requirements</span></li>
        <li class='location'>location :<span class="value">Bengaluru</span></li>
        <li class='age'>age :<span class="value">no restriction</span></li>
        <li class='proposal-time'>proposal end date :<span class="value">No End</span></li>
        <li class='proposal-review'>proposal review end data :<span class="value">Any time</span></li>
        </ul>
        <div class="description-title">Description:</div>
        <div class='description'><span style="padding-left: 20px;"></span>
          The purpose of this role is to design, test and maintain software programs for
           operating systems or applications which needs to be deployed at a client end 
           and ensure its meet 100% quality assurance parameters
        </div>
        <div class="job-buts">
          <button class="details" id="job-but">Details</button>
          <button class="share" id="job-but">share</button>
          <button class="save" id="job-but">save</button>

        </div>
    </div>
  </div>
      
  </div>
</div>
